* {
    box-sizing: border-box;
    background-color: #F2F2F8;
}

button {
    background-color: #ABC8E5;
    padding: 12px;
}

button:hover {
    background-color: #7c9dbe;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.generator {
    flex: auto;
}