* {
    box-sizing: border-box;
    background-color: #F2F2F8;
}

button {
    background-color: #ABC8E5;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.generator {
    flex: auto;
}